<table id="customers">
	<thead>
		<tr>
			<th>Name</th>
			<th>Father Name</th>
			<th>Profession</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.father_name %></td>
				<td><%= @professions[user.profession_id.to_s] %></td>
				<td><%= user.address %></td>
			</tr>
		<% end %>
	</tbody>
</table>