<table>
	<thead>
		<th>
			<td>Name</td>
			<td>Father Name</td>
			<td>Profession</td>
			<td>Address</td>
		</th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.father_name %></td>
				<td><%= @profession[user.profession] %></td>
				<td><%= user.address %></td>
			</tr>
		<% end %>
	</tbody>
</table>